body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Lucida Handwriting";
  font-size: 2em;
}
h1{
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: 'Lucida Handwriting';
  font-size: 90px;
}

h2{
  color: #66bfbf;
  font-family: 'Montserrat', SansSerif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat',SansSerif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

a{
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #115f8e;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #EAF6F6;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}






.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #115f8e;
  font-size: .75em;
  padding: 20px 0px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 40px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}


.development-img{
  width: 40%;
  float: right;
  margin-right: 30px;
}

.marketing-img{
  width: 40%;
  float: left;
  margin-left: 30px;

}

.btn {
  background: #11ctd4;
  background-image: -webkit-linear-gradient(top, #11ctd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ctd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ctd4, #11999e);
  background-image: -o-linear-gradient(top, #11ctd4, #11999e);
  background-image: linear-gradient(to bottom, #11ctd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', SansSerif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


